# R and Shiny specific files
.Rhistory
.RData
.Rproj.user/
*.log
sequiaViz.Rproj
app/reactable.extras.R
app/UntitledR.R

# Local environment configuration
.Renviron
.renv.lock
renv.lock
.env
.DS_Store

# Cache files
*.tar.gz
*.zip

# Other files
*.bam
*.bai
*.xlsx
*.xls
*.tsv

# Config - INCLUDE
!reference_paths.json

# Reference files - INCLUDE these (override *.tsv and *.docx)
!app/references/
!app/references/*.tsv
!app/references/*.docx
!app/references/*.txt

# Temp files
*temp_batch.txt

# renv and input data directories
doc/
renv/
input_files/
output_files/
report_results/
node_modules/
sessions/
tests/
www/
2www2/
!www/manifests/
genome/
_book/
docker-compose.yml
Dockefile
Dockerfile-igv

