# R and Shiny specific files
.Rhistory
.RData
.Rproj.user/
*.log
sequiaScope_paper.md

# Local environment configuration
.Renviron
.env

# Cache files
*.tar.gz
*.zip

# Other files
*.bam
*.bai
*.xlsx
*.xls
*.tsv
*temp_batch.txt
app/view/reactable.extras_module.R

# renv and input data directories
renv/
input_files/
report_results/
www/
2www2/
sessions/
output_files/
input_files/igv-static